body {
  margin: 0;
  padding: 0;
  background-color:#f5f5f5;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.container{
  max-width: 1200px;
  padding: 40px 20px;
}
h1 {
  font-family: 'Merriweather', serif;
  text-transform: capitalize;
}
h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #003b58;
}
p{
  font-size: 18px;
  line-height: 32px;
  text-align: justify;
}
.btn {
  color: #fff;
  background-color: #0071c2;
  cursor: pointer;
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 15px;
}
.btn:hover{
  background-color: #014f86;
}
.deleteBtn{
  background-color: #801818;
}
.deleteBtn:hover{
  background-color: #611111;
}
.textBtn {
  background-color:#f5f5f5;
  border: none;
  font-size: 18px;
  color: #0071c2;
  cursor: pointer;
}